@charset "UTF-8";



/* ヘッダーの色設定 */
header {
    background-color: #ffcccc;
    width: 1000px;
    margin: 0 auto;
}

/* ワッパーの並べて表示と横幅設定 */
#wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* メイン・メニューの色設定 */
#main {
    background-color: #ccffcc;
    width: 700px;
}

#menu {
    background-color: #ccccff;
    width: 300px;
}

/* フッターの色設定 */
footer {
    background-color: #ffccff;
    width: 1000px;
    margin: 0 auto;
}